/* General Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', sans-serif;
}

/* Header Styles */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 100;
}

.header.scrolled {
  background: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.log {
  color: #FFC107;
  font-weight: bold;
  margin-left: 120px;
}

/* Links Section */
.links {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.links.open {
  display: flex;
  flex-direction: column;
  z-index: 999;
}

.one-links {
  margin: 0 15px;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.one-links:hover {
  color: #cc5d5b;
  transform: scale(1.05);
}

.link {
  color: #FFC107;
  text-decoration: none;
}

.link:hover {
  color: #9f8843;
  transition: color 0.3s ease;

}

/* Dropdown Styles */
.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 0;
  border-radius: 4px;
  z-index: 1000;
}

.dropdown-menu .dropdown-link {
  display: block;
  padding: 10px 20px;
  color: #FFC107;
  text-decoration: none;
  font-size: 14px;
  transition: background-color 0.3s;
}

.dropdown-menu .dropdown-link:hover {
  background-color: #cc5d5b;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#serv::after {
  content: ' ▼';
  font-size: 0.8rem;
  margin-left: 5px;
  color: #FFC107;
  transition: transform 0.3s ease;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 20px;
  position: relative;
  z-index: 1001; /* Ensure it stays above other elements */
}

.hamburger .line {
  width: 25px;
  height: 3px;
  background-color: #FFC107;
  margin: 4px 0;
  transition: all 0.3s ease-in-out;
}
.hamburger.open .line:nth-child(1) {
  transform: rotate(50deg) translate(5px, 5px);
}

.hamburger.open .line:nth-child(2) {
  opacity: 0;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-50deg) translate(5px, -5px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .links {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 70%;
    background-color: #333;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
  }

  .links.open {
    display: flex;
    opacity: 1;
    visibility: visible;
  }

  .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }

  .hamburger {
    display: flex;
  }

  .log {
    margin-left: 20px;
  }
}
